
@import "compass/reset";
@import "compass/css3";

/////////////////// MAKE LABEL FOR BeSmart//////////////////////////

@mixin action-label($color, $fontcolor) {
    position: relative;
    background-color: $color;
    @include box-shadow(2px 4px 0px -2px rgba(151, 164, 164, 0.16));
    display: inline-block;
    height: 20px;
    padding: 0 10px 0 10px;

    font-size: 11px;
    font-family: "Arial";
    color: $fontcolor;
    font-style: italic;
    line-height: 1.727;
    
    &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 20px;
        border-top: 7px solid adjust-lightness($color, -15% );
        border-left: 8px solid transparent;
    }
}

//////////////////////////////////////////////////////////////////////////////

body {
    padding:20px;
}

///////////////////////CHANGE COLOR BACKGROUND and FONT COLOR/////////////////////////////////////////////////////

.red {
    @include action-label(#ec005a, white);
}

.green {
    @include action-label(#a0d848, #106108);
}

.pink {
    @include action-label(#ff5959, #fff);
}

.yellow {
    @include action-label(#fff432, red);
}