/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* axis : @include centre(y);
X axis : @include centre(x);
Both axis : @include centre;*/
/* line 6, ../sass/screen.scss */
body {
  padding: 20px;
  background-color: #eaf0fb;
  text-align: center;
}

/* line 14, ../sass/screen.scss */
.mainbackground {
  width: 100%;
  height: 500px;
  background-color: #fff;
  position: relative;
}
/* line 20, ../sass/screen.scss */
.mainbackground::after {
  background-image: url("../img/test.gif");
  content: "";
  position: absolute;
  height: 323px;
  width: 300px;
  overflow: hidden;
  top: 0;
  transform: scaleX(-1);
  right: 0;
}
/* line 24, ../sass/screen.scss */
.mainbackground::before {
  background-image: url("../img/test.gif");
  content: "";
  position: absolute;
  height: 323px;
  width: 300px;
  overflow: hidden;
  top: 0;
  left: 0;
}

/* line 32, ../sass/screen.scss */
.button_arrow {
  position: relative;
  display: inline-flex;
  width: 121px;
}
/* line 36, ../sass/screen.scss */
.button_arrow::after {
  content: "\e61e";
  font-family: 'besmart';
  font-size: 29px;
  color: white;
  text-shadow: -1px 0 #d9dada, 0 1px #c3c3c2, 1px 0 #d9dada, 0 -1px #eff1f0;
}
/* line 44, ../sass/screen.scss */
.button_arrow .button_arrow_caption {
  font-family: Arial;
  color: #222;
  font-size: 12px;
  left: 19px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
